name: CI Build

on: 
  push:
    branches: [ main ] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3 
    - name: Run a simple check (Test Quality)
      run: echo "Uruchomiono kontrolę jakości i budowanie prototypu."
    - name: Completion message
      run: echo "Workflow CI zakończony sukcesem."
